<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Plage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Informations</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La plage de casablanca est un lieu magnifique.
       Le sable est blanc et fin, infiniment doux.
        Aucunes ordures ne traînent ici, les gens sont respectueux de cet endroit paradisiaque.
       L'eau est de couleur turquoise, les vagues forment des écumes blanches. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
    </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/PlageAïnDiab.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage <br>&nbsp; Aïn <br>&nbsp;Diab</h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
    <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Plage de Ain Sebaa.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage <br>&nbsp; de <br>&nbsp;Ain <br>&nbsp; Sebaa</h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Plage de petite Zenata.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage <br>&nbsp; de  <br>&nbsp;petite <br>&nbsp;Zenata</h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Plage des Sablettes.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage <br>&nbsp; des <br>&nbsp;Sablettes</h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Plage Lalla Meryem.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage<br>&nbsp; Lalla <br>&nbsp;Meryem</h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Plage Madame Choual.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage<br>&nbsp; Madame <br>&nbsp;Choual</h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Plage Monica.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Plage <br>&nbsp;Monica</h1></ion-label>
  </ion-item>
</ion-card>
</ion-content>

