<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Plage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Informations</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La plage de casablanca est un lieu magnifique.
       Le sable est blanc et fin, infiniment doux.
        Aucunes ordures ne traînent ici, les gens sont respectueux de cet endroit paradisiaque.
       L'eau est de couleur turquoise, les vagues forment des écumes blanches. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
    </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/La villa des arts.jpg" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;La <br>&nbsp; villa<br>&nbsp; des arts
    </h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/L'Institut Français.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;L'Institut <br>&nbsp; Français
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Mosquée Hassan-II.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Mosquée <br>&nbsp; Hassan <br>&nbsp; II
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Rick's Café.jpeg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Rick's <br>&nbsp; Café 
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Église du Sacré-Cœur.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Église <br>&nbsp; du<br>&nbsp;  Sacré-<br>&nbsp; Cœur
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Place Mohamed V.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Place <br>&nbsp;Mohamed <br>&nbsp;V
  </h1></ion-label>
</ion-item>
</ion-card>
</ion-content>


