<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Plage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
      <ion-card-title>Informations</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La plage de casablanca est un lieu magnifique.
       Le sable est blanc et fin, infiniment doux.
        Aucunes ordures ne traînent ici, les gens sont respectueux de cet endroit paradisiaque.
       L'eau est de couleur turquoise, les vagues forment des écumes blanches. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
    </ion-card-header>
  <ion-item routerLink="/all" class="ion-activated">
    <img src="/assets/Tachfine Center.png" alt="">
    <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Tachfine <br>&nbsp; Center
    </h1></ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Morocco Mall.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Morocco <br>&nbsp; Mall
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/ANFAPLACE MALL.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;ANFA- <br>&nbsp; PLACE <br>&nbsp; MALL
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Marina Shopping Center.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Marina <br>&nbsp; Shopping <br>&nbsp; Center
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Alpha 55.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Alpha <br>&nbsp; 55
  </h1></ion-label>
</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="primary">CasaTourisme</ion-card-subtitle>
  </ion-card-header>
<ion-item routerLink="/all" class="ion-activated">
  <img src="/assets/Medina.jpg" alt="">
  <ion-label> <h1 style="font-weight:bold ; color: gray; font-style: oblique">&nbsp;Medina
  </h1></ion-label>
</ion-item>
</ion-card>
</ion-content>



